/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .contact-area {
        background-position: left;
    }
    .header-logo a img {
        max-width: 220px;
    }
   
    .header-text p {
        font-size: 20px;
        margin-left: 25px;
    }
    .header-text span {
        font-size: 20px;
    }
    .probate {
        font-size: 90px;
    }
    .law-firm {
        font-size: 30px;
    }
    .form-title p {
        width: 593px;
    }
    .form-input input {
        width: 40%;
    }
    .send-btn {
        width: 40%;
    }
    .form-footer img {
        height: 6vh;
        width: 40%;
        border-radius: 5px;
    }
    .form-footer p {
        width: 593px;
    }
}


/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .contact-area {
        background-size: cover;
    }
    .header-logo a img {
        max-width: 230px;
        margin: 5px 0;
    }
    .contact-header {
        display: block;
    }
    .contact-header {
        padding: 20px 0;
    }
    .header-text {
        margin-top: 10px;
    }
    .header-text p {
        font-size: 14px;
        margin-left: 0;
    }
    .header-text span {
        font-size: 14px;
    }
    .form-title {
        text-align: center;
    }
    .probate {
        font-size: 50px;
    }
    .law-firm {
        font-size: 25px;
    }
    .form-title p {
        font-size: 18px;
        width: 100%;
    }
    .form-input input {
        width: 100%;
        font-size: 18px;
    }
    .send-btn {
        width: 100%;
    }
    .send-btn button {
        width: 100%;
        font-size: 18px;
    }
    .form-footer img {
        height: 9vh;
        width: 100%;
        border-radius: 5px;
    }
    .form-footer p {
        width: 100%;
    }
    .form-footer {
        text-align: center;
    }

}
